<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imguo.service.mall.mapper.MallGoodsSpecificationMapper">

    <resultMap id="BaseResultMap" type="com.imguo.model.mall.domain.MallGoodsSpecification">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="specification" column="specification" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="updatedAt" column="updated_at" jdbcType="BIGINT"/>
            <result property="deletedAt" column="deleted_at" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,specification,
        value,created_at,updated_at,
        deleted_at
    </sql>
</mapper>
