<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysPostMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysPost">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="post_code" column="post_code" jdbcType="VARCHAR"/>
            <result property="post_name" column="post_name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,post_code,post_name,
        sort,status,version,
        deleted,creator,create_time,
        updater,update_time
    </sql>
</mapper>
