<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysUserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role_id" column="role_id" jdbcType="BIGINT"/>
            <result property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="BIGINT"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,user_id,
        version,deleted,creator,
        create_time,updater,update_time
    </sql>
</mapper>
